
/*

 ----    BARRA DE NAVEGACIÓN    ---

*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #333;
  color: #fff;
}

.logo a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.search-form input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}

#menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #333;
    border-radius: 5px;
    width: 200px;
    padding: 10px 0;
  }

  .menu li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }
}

